<template>
  <q-page class="home">

    <header class="home-header">
      <q-img class="center-block" src="../assets/home-banner-sp.png" />
      <div class="conteudo">
        <div class="column items-center">
          <h1>
            Encontre o imóvel ideal nas <br />regiões mais nobres de São Paulo
          </h1>
          <p>
            Busque por: <span @click="irCategoriaBusca('apartamentos')">Apartamento</span>, <span @click="irCategoriaBusca('casas')">Casas</span> ou
            <span @click="irCategoriaBusca('coberturas')">Coberturas</span>
          </p>
          <q-btn @click="descer" round icon="expand_more" color="white" outline />
        </div>
      </div>
    </header>

    <section ref="destaques" class="destaques" id="destaques">
      <div class="container flex flex-center" style="width: 100%;">

        <!-- Buscar por referencia -->
        <div class="busca">
          <q-input
            borderless
            bg-color="white"
            mask="###################"
            placeholder="Pesquise por Referência"
            v-model="referencia"
            @keyup.enter="buscarReferencia"
          >
            <template v-slot:append>
              <q-icon
                class="q-px-md"
                @click="buscarReferencia()"
                :class="referencia && referencia.length > 0 ? 'cursor-pointer' : ''"
                :disabled="referencia && referencia.length > 0 ? false : true"
              >
                <CasaSvg />
              </q-icon>
            </template>
          </q-input>
        </div>
        <!-- -->

        <!-- Destaque -->
        <div class="row q-col-gutter-xl" style="width: 100%;">
          <div class="col-xs-12 column flex-center col-md-3 mobile">
            <h2>Imóveis em<br />Destaque</h2>
            <p>
              Navegue pela nossa seleção de imóveis nas melhores áreas nobres de
              São Paulo.
            </p>
            <q-btn no-caps label="Ver todos" outline />
          </div>
          <div class="col-xs-12 col-md-9 relative-position">
            <CarrosselCards width="250px" :cards="imoveisDestaque" />
          </div>
        </div>
        <!-- -->

      </div>
    </section>

    <section class="procura">
      <div class="container">
        <div class="row items-center">

          <div class="col-12 flex flex-center q-mb-lg">
            <div class="column">
              <h2>O que você está procurando?</h2>
              <p>Escolha qual tipo de imóvel deseja</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-10 offset-md-1 flex flex-center">
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Casas'" />
              </div>
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Apartamentos'" />
              </div>
              <div class="col-xs-12 col-md-4 col-sm-6 mobile">
                <CardProcura :tipo="'Coberturas'" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="box-vender">
      <q-img src="../assets/home-parque.jpeg"></q-img>
      <div class="conteudo">
        <div class="column items-center">
          <p>
            Quer VENDER ou ALUGAR seu
          </p>
          <h1>IMÓVEL?</h1>
          <q-btn @click="irRota('contato')" unelevated no-caps label="Entre em contato" />
        </div>
      </div>
    </section>

  </q-page>
</template>

<script src="./Index.js"></script>

<style lang="scss">
.home-header {
  min-height: 70vh;
  height: 70vh;
  overflow: hidden;
  position: relative;
  margin-top: -140px;
  & .q-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    & .q-img__image {
      filter: contrast(1.2) contrast(1.2);
    }
  }
  & .conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30,40,50,0.8) 0%, rgba(40,49,56,0.85) 80%, rgba(40,49,56,0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    & h1 {
      color: white;
      font-size: 44px;
      line-height: 45px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
    }
    & p {
      font-size: 16px;
      line-height: 37px;
      color: white;
      text-align: center;
      margin: 60px 0 40px 0;
      & span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    & .q-btn {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.destaques {
  background: #f9f9f9;
  padding-bottom: 60px;
  & .mobile {
    display: flex;
    align-items: flex-start;
    & h2 {
      text-align: left;
    }
    & p {
      text-align: left;
    }
  }
  & .busca {
    margin-top: -30px;
    margin-bottom: 90px;
    z-index: 5000;
    width: 100%;
    max-width: 750px;
    & .q-input {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      & .q-field__control {
        border-radius: 5px;
      }
      & input {
        padding: 0 20px !important;
      }
    }
  }
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    position: relative;
    &:before {
      content: "Imóveis";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      left: -30px;
      color: rgba(#bdbdbd, 0.2);
    }
  }
  & p {
    color: #828282;
    font-size: 16px;
    line-height: 20px;
  }
  & .q-btn {
    border: 1px solid rgba(206, 145, 50, 0.2) !important;
    font-size: 16px;
    line-height: 22px;
    color: $secondary;
    padding: 0 20px;
  }
}
.procura {
  padding-top: 150px;
  padding-bottom: 120px;
  & h2 {
    font-size: 36px;
    line-height: 34px;
    color: $primary;
    font-weight: bold;
    position: relative;
    margin: 0;
    text-align: center;
    &:before {
      content: "Imóveis";
      font-size: 72px;
      font-weight: bold;
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(#bdbdbd, 0.2);
    }
  }
  & p {
    color: #828282;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin: 10px 0;
    text-align: center;
  }
}
.box-vender {
  min-height: 365px;
  width: 100%;
  position: relative;
  & .q-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 0;
    & .q-img__image {
      background-position: 80% 80%!important;
    }
  }
  & .conteudo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(40, 49, 56, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      font-size: 22px;
      line-height: 30px;
      color: white;
      margin: 0;
      text-align: center;
    }
    & h1 {
      margin: 0;
      font-size: 77px;
      line-height: 105px;
      color: white;
      font-weight: 900;
      text-align: center;
    }
    & .q-btn {
      font-size: 16px !important;
      line-height: 22px;
      padding: 0 18px;
      width: 230px;
      background: rgb(255, 131, 33);
      color: white;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 599px) {
  .home-header {
    height: 120vh;
    margin-top: -200px;
    & .conteudo {
      padding: 120px 20px 10px 20px;
    }
  }
  .destaques {
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
  }
  .procura {
    .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}
</style>
