<template>
  <q-page class="anuncio">

    <Header :rotaAtualCustom="dados ? dados.Categoria : 'Carregando...'" :historicPag="[{route: 'busca', name: 'Busca'}]" />

    <div v-if="dados">

      <section>
        <div class="container">
          <div class="row">

            <div class="col-12">
              <div class="flex items-center justify-between">
                <h2>{{dados.Categoria}} - {{dados.BairroComercial}} - {{dados.Cidade}}</h2>
                <div class="ref">Ref. {{dados.Codigo}}</div>
              </div>
              <p>
                <PinMapIcon />
                {{dados.BairroComercial}} - {{dados.Cidade}}
              </p>
            </div>

            <div class="col-12 row q-col-gutter-md">

              <div class="col-xs-12 col-md-6">
                <Carrossel :imgs="dados.fotos" />
              </div>

              <div class="col-xs-12 col-md-6 row">

                <div class="col-xs-12 col-md-6 q-py-lg">

                  <!-- Favorito -->
                  <q-btn
                    no-caps
                    color="secondary"
                    :outline="findFavorito(dados.Codigo) ? false : true"
                    @click="favoritoSubmit(dados.Codigo)"
                  >
                    <div>
                      {{findFavorito(dados.Codigo) ? 'Remover dos' : 'Adicionar aos'}} favoritos
                      <q-icon
                        :color="findFavorito(dados.Codigo) ? 'white' : 'secondary'"
                        :name="findFavorito(dados.Codigo) ? 'favorite' : 'favorite_border'"
                        class="q-ml-xs"
                      />
                    </div>
                  </q-btn>
                  <!-- fim - Favorito -->

                  <div class="column q-my-md divisao">
                    <p class="compra">{{dados.Status}}</p>
                    <h1>{{valorImovel()}}</h1>
                    <div class="taxa">Condomínio: {{this.dinheiroBR(dados.ValorCondominio)}}</div>
                    <div class="taxa">Valor do IPTU: {{this.dinheiroBR(dados.ValorIptu)}}</div>
                  </div>

                  <div class="row q-col-gutter-md items">

                    <div class="col-xs-12 col-sm-6">
                      <div class="row items-center">
                        <div class="col-3">
                          <q-icon>
                            <CamaIcon />
                          </q-icon>
                        </div>
                        <div class="col-9">
                          <div class="item">{{dados.Dormitorios}} {{dados.Dormitorios > 1 ?  'quartos' : 'quarto'}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="row items-center">
                        <div class="col-3">
                          <AreaIcon />
                        </div>
                        <div class="col-9">
                          <div class="item">{{dados.AreaPrivativa}}m²</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="row items-center">
                        <div class="col-3">
                          <BanheiroIcon />
                        </div>
                        <div class="col-9">
                          <div class="item">{{dados.Suites}} {{dados.Suites > 1 ? 'suítes' : 'suíte'}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="row items-center">
                        <div class="col-3">
                          <VagaIcon />
                        </div>
                        <div class="col-9">
                          <div class="item">{{dados.Vagas}} {{dados.Vagas > 1 ? 'vagas' : 'vaga'}}</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- AINDA NAO FIZ (Agende uma visita) -->
                <div class="col-xs-12 col-md-6 q-my-lg q-px-sm">
                  <h4>Agende uma visita</h4>
                  <div class="column">
                    <q-input
                      class="input-contato"
                      dense
                      label="Seu Nome*"
                      outlined
                    />
                    <q-input
                      class="input-contato"
                      dense
                      type="email"
                      label="Email* "
                      outlined
                    />
                    <q-input
                      class="input-contato"
                      dense
                      mask="(##) #####-####"
                      label="Telefone"
                      outlined
                    />
                    <div class="flex items-center q-my-xs">
                      <q-checkbox
                        v-model="whatsapp"
                        dense
                        color="positive"
                        size="xs"
                      />
                      <div class="label-checkbox" @click="whatsapp = !whatsapp">
                        Entrar em contato pelo
                        <span>Whatsapp <q-icon name="fab fa-whatsapp"/></span>
                      </div>
                    </div>
                    <q-input
                      class="input-contato"
                      dense
                      label="Mensagem"
                      outlined
                      type="textarea"
                      style="min-height:100px"
                    />
                    <q-btn
                      color="secondary"
                      class="q-my-xs"
                      label="Enviar"
                      no-caps
                      unelevated
                      style="width: 100%"
                    />
                    <q-btn
                      color="secondary"
                      label="Compartilhar"
                      unelevated
                      outline
                      icon="share"
                      no-caps
                      style="width: 100%"
                    />
                  </div>
                </div>
                <!-- fim - AINDA NAO FIZ (Agende uma visita) -->

              </div>

            </div>

          </div>
        </div>
      </section>

      <section class="descricao">
        <div class="container">
          <div class="row" style="width: 100%;">
            <div class="wrap row">

              <div :class=" $q.screen.gt.sm ? 'container-sobreposto' : 'col-xs-12 col-md-6'">
                <h5>Descrição</h5>
                <p>{{dados.DescricaoWeb}}</p>
              </div>

              <div class="col-xs-12 col-md-6 offset-md-6">
                <img style="object-fit: container; max-width: 100%; height: auto;" :src="dados.FotoDestaque"/>
              </div>

            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <hr />
      </div>

      <section>
        <div class="container">
          <div class="row q-col-gutter-md">

            <div class="col-12 col-md-6" v-if="dados.caracteristicasImovel && dados.caracteristicasImovel.length > 0">
              <div class="row">
                <div class="col-12 q-mb-md">
                  <h5>Características do Imóvel</h5>
                </div>
                <div class="col-xs-12 col-sm-6 q-my-sm" v-for="(item, index) in dados.caracteristicasImovel" :key="index">
                  <div class="flex items-center">
                    <span class="select-check q-mr-sm">
                      <q-icon name="check" />
                    </span>
                    <div class="select-item">{{ item }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6" v-if="dados.caracteristicasCondominio && dados.caracteristicasCondominio.length > 0">
              <div class="row">
                <div class="col-12 q-mb-md">
                  <h5>Características do Condomínio</h5>
                </div>
                <div class="col-xs-12 col-sm-6 q-my-sm" v-for="(item, key) in dados.caracteristicasCondominio" :key="key">
                  <div class="flex items-center">
                    <span class="select-check q-mr-sm">
                      <q-icon name="check" />
                    </span>
                    <div class="select-item">{{ item }}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="sugestoes">
        <div class="container flex flex-center">
          <div class="row" style="width: 100%;">
            <div class="col-xs-12 column mobile">
              <h2>Sugestões de imóveis pra você</h2>
            </div>
            <div class="col-xs-10 offset-xs-1 col-sm-12 q-my-lg">
              <CarrosselCards :configs="settings" width="265px" :cards="imoveisSugestao" />
            </div>
          </div>
        </div>
      </section>

    </div>

  </q-page>
</template>

<script src="./Anuncio.js"></script>

<style lang="scss">
.anuncio {
  & hr {
    border: none;
    border-top: 1px solid rgba(196, 196, 196, 0.4);
  }
  & section {
    padding: 80px 0;
    background: white;
  }
  & .select-check {
    background: rgba(206, 145, 50, 0.15);
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .q-icon {
      font-size: 14px;
      color: $secondary;
    }
    & .select-item {
      font-size: 16px;
      line-height: 34px;
      color: #333;
      margin: 0;
      margin-left: 7px;
    }
  }
  & .sugestoes {
    & h2 {
      font-size: 36px;
      line-height: 34px;
      color: $primary;
      font-weight: bold;
      position: relative;
      text-align: center;
      &:before {
        content: "Imóveis";
        font-size: 72px;
        font-weight: bold;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(#bdbdbd, 0.2);
      }
    }
    & .mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
      & p {
        text-align: center;
      }
      & .q-btn {
        margin: 0 auto;
      }
    }
  }
  & .descricao {
    position: relative;
    padding: 40px 0;
    & .wrap {
      position: relative;
      width: 100%;
      & .container-sobreposto {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 740px;
        top: 50%;
        transform: translateY(-51%);
        left: 0px;
        padding: 0px 0px 10px 10px;
        box-sizing: border-box;
        height: auto;
        background: white;
        min-height: 220px;
        & p {
          font-size: 16px;
          line-height: 23px;
          color: #828282;
          margin: 0;
          margin-top: 20px;
          max-width: 700px;
        }
      }
    }
  }
  & h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  & p {
    font-size: 18px;
    line-height: 25px;
    color: #ababab;
  }
  & .divisao {
    padding-bottom: 20px;
    border-bottom: 1px solid #c4c4c4;
  }
  & h5 {
    font-size: 28px;
    line-height: 38px;
    color: #333;
    font-weight: 600;
    margin: 0;
  }
  & .ref {
    font-size: 14px;
    line-height: 19px;
    color: #bdbdbd;
  }
  & .compra {
    font-size: 18px;
    line-height: 25px;
    color: #4f4f4f;
    margin: 0;
  }
  & .taxa {
    font-size: 18px;
    line-height: 25px;
    color: #bdbdbd;
  }
  & h1 {
    font-size: 33px;
    line-height: 45px;
    color: #333333;
    font-weight: bold;
    margin: 0;
  }
  & .q-btn {
    & > div {
      font-size: 20px;
      line-height: 27px;
      color: $secondary;
    }
    & .q-icon {
      font-size: 18px;
    }
  }
  & .label-checkbox {
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    margin-left: 5px;
    cursor: pointer;
    & span {
      font-weight: bold;
      color: $positive;
    }
  }
  & h4 {
    font-size: 22px;
    line-height: 30px;
    color: #828282;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
  }
  & .q-input {
    margin-bottom: 5px;
  }
  & .items {
    & .q-icon {
      font-size: 25px;
    }
    & .item {
      font-size: 16px;
      line-height: 22px;
      color: #ababab;
      padding-left: 5px;
    }
  }
}
</style>
