<template>
  <div class="card-imovel" v-if="dados">
    <q-icon
      class="cursor-pointer favorito"
      :name="findFavorito(dados.Codigo) ? 'favorite' : 'favorite_border'"
      @click="favoritoSubmit(dados.Codigo)"
    />
    <div class="container-img" @click="irImovel()">
      <q-img :src="dados.FotoDestaque" />
      <div class="overflow">
        <div>
          <div class="flex justify-between items-center">
            <span class="tag small"
              >Ref. <b>{{ dados.Codigo }}</b></span
            >
            <div class="tag">{{ dados.Status }}</div>
          </div>
          <div class="row items-center">
            <div class="col-8">
              <h6>
                {{ dados.Categoria }} - {{ dados.BairroComercial }} -
                {{ dados.Cidade }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-infos">
      <div class="flex items-center">
        <h3>{{ valorImovel() }}</h3>
        <div v-if="dados.Status === 'VENDA E LOCACAO'" class="aluguel">
          <q-btn flat label="Locar" no-caps class="aluguel" icon="vpn_key">
            <q-tooltip content-class="valor-aluguel">
              Valor para locação: {{ dinheiroBR(dados.ValorLocacao) }}
            </q-tooltip>
          </q-btn>
        </div>
      </div>
      <font class="text-grey-6"
        >{{
          dados.DescricaoWeb ? `${dados.DescricaoWeb.substring(60, 0)}...` : ""
        }}
        {{ dados.Dormitorios }}
        {{ dados.Dormitorios > 1 ? "Quartos" : "Quarto" }}, {{ dados.Suites }}
        {{ dados.Suites > 1 ? "Suítes" : "Suíte" }},
        {{ dados.AreaPrivativa }}m².</font
      >
    </div>
  </div>
</template>

<script src="./CardImovel.js"></script>

<style lang="scss">
.valor-aluguel {
  font-size: 18px;
  line-height: 18px;
}
.card-imovel {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  width: 275px;
  & .aluguel {
    display: flex;
    align-items: center;
    margin-left: 10px;
    &:hover .aluguel {
      & .q-icon {
        transition: all 0.8s ease;
        color: $secondary;
        animation: 0.5s mover backwards;
      }
    }
  }
  & .chave {
    font-size: 20px;
    color: $primary;
  }
  & .card-infos {
    position: relative;
    padding: 16px 0;
    & h3 {
      font-weight: bolder;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      text-align: left;
    }
    & h5 {
      font-weight: bolder;
      font-size: 10px;
      line-height: 0px;
    }
    & span {
      color: #bdbdbd;
      font-size: 12px;
      line-height: 16px;
    }
  }
  & .favorito {
    position: absolute;
    right: 20px;
    top: 320px;
    z-index: 20;
    font-size: 24px;
    color: white;
  }
  & .container-img {
    position: relative;
    height: 380px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      & > .q-img {
        transform: scale(1.1);
        transition: all 0.2s ease-in;
      }
    }
    & .overflow {
      background: linear-gradient(
        180deg,
        rgba(10, 11, 15, 0) 0%,
        rgba(14, 17, 22, 0.72) 100%
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      & > div {
        padding: 14px 7px 20px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & h6 {
          font-size: 18px;
          line-height: 20px;
          color: white;
          font-weight: bold;
          color: white;
          margin: 0;
        }
      }
    }
    & .q-img {
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 0.2s ease-out;
    }
    & .tag {
      width: max-content;
      color: white;
      font-size: 14px;
      line-height: 19px;
      background: #ff8321;
      border-radius: 3px;
      padding: 3px 10px;
      &.small {
        color: $primary;
        background: white;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}

@keyframes mover {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
</style>
