<template>
  <div class="card-procura" @click="irCategoriaBusca()">
    <q-img :src="`statics/${tipo.toLowerCase()}.png`" />
    <div class="tag">{{ tipo }}</div>
  </div>
</template>

<script src="./CardProcura.js">
</script>

<style lang="scss">
.card-procura {
  position: relative;
  width: 275px;
  height: 310px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    & > .q-img {
      transform: scale(1.1);
      transition: all 0.5s ease-in;
    }
  }
  & .q-img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-out;
    top: 0;
    left: 0;
  }
  & .tag {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #4F4F4F;
    padding: 3px 14px;
    background: white;
    font-size: 16px;
    line-height: 22px;
  }
}
</style>
