<template>
  <div class="col-12 carrossel-anuncio">
    <q-dialog content-class="dialogveiculo" v-model="fullScreen">
      <div
        class="col-12"
        :style="{
          width: $q.screen.gt.sm ? '60%' : '100%',
          height: '100%',
          boxShadow: 'none!important'
        }"
      >
        <q-carousel
          arrows
          swipeable
          animated
          v-model="slide"
          thumbnails
          infinite
          ref="carousel"
        >
          <q-carousel-slide
            v-for="(img, index) in imgs"
            :key="index"
            :name="index"
            :img-src="!img.video ? img.src : null"
            style="margin-top: -30px;"
          >
            <q-video
              class="fit"
              :ratio="16 / 9"
              v-if="img.video"
              :src="img.video"
            />
          </q-carousel-slide>
        </q-carousel>
      </div>
    </q-dialog>

    <VueSlickCarousel v-bind="settings" ref="c1" v-if="imgs && imgs.length > 0">
      <template #nextArrow="arrowOption">
        <div class="custom-arrow-next">
          {{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
        </div>
      </template>
      <template #prevArrow="arrowOption">
        <div class="custom-arrow-prev">
          {{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
        </div>
      </template>
      <div v-for="(img, index) in imgs" :key="index" class="fit">
        <q-img
          @click="selecionarImagem(index)"
          :key="index"
          :src="img.src"
          v-show="!img.video"
        />
        <q-video class="fit" :ratio="4/3" v-show="img.video" :src="img.video"/>
      </div>
    </VueSlickCarousel>

    <VueSlickCarousel
      ref="c2"
      @beforeChange="deslizar"
      v-bind="carrossel2"
      :dots="false"
      :centerMode="true"
      :arrows="false"
      :asNavFor="$refs.c1"
      :focusOnSelect="true"
    >
      <div
        :class="img.video ? 'video-play-button' : 'imgthumbnail'"
        v-for="(img, index) in imgs"
        :key="index"
        :name="index"
        :src="img.src"
      >
        <q-img :key="index" :src="img.src" />
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script src="./CarrosselAnuncio.js"></script>

<style lang="scss">
.video-play-button {
  width: 100%;
  height: 75px;
  background: transparent;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0 5px 0;
  border-radius: 5px;
  &.full {
    height: 100%;
    &:after {
      position: absolute;
      border-top: 32px solid transparent;
      border-bottom: 32px solid transparent;
      border-left: 64px solid rgba(219, 23, 23, 0.7);
    }
  }
  &:after {
    position: absolute;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 32px solid rgba(219, 23, 23, 0.7);
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.q-img {
  border-radius: 5px;
}
.imgthumbnail {
  width: 100px !important;
  height: 50px;
}
.carrossel-anuncio {
  & .custom-arrow-next,
  & .custom-arrow-prev {
    height: 100%;
    width: 50px !important;
    z-index: 1;
  }
  & .custom-arrow-next {
    right: 0;
  }
  & .custom-arrow-prev {
    left: 0;
  }
  & .custom-arrow-next:before,
  & .custom-arrow-prev:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    color: var(--q-color-primary);
    padding: 0;
    background: transparent;
    font-size: 30px;
  }
  & .slick-list {
    padding: 0 !important;
  }
  & .custom-arrow-next:before {
    height: auto;
  }
  & .custom-arrow-prev:before {
    height: auto;
    left: 20px;
  }
  .q-carousel .q-btn {
    z-index: 1;
  }
  .slick-track {
    padding: 20px 0;
    outline: none;
  }
  /*.custom-arrow-prev{display: none;}*/
  .slick-dots {
    bottom: -10px;
    & li.slick-active button:before {
      color: #f6be00;
    }
    & li button {
      &:before {
        font-size: 10px;
        color: #f6be00;
        opacity: 0.4;
      }
    }
  }
}
@media (max-width: 599px) {
  .carrossel-popup {
    & .custom-arrow-next,
    & .custom-arrow-prev {
      width: 20px !important;
      z-index: 1;
    }
    & .custom-arrow-next:before {
      font-size: 30px;
      right: 10px;
    }
    & .custom-arrow-prev:before {
      font-size: 30px;
      left: 10px;
    }
  }
}
</style>
