<template>
  <div class="col-12 carrossel-cards">

    <div class="flex justify-end">
      <div class="flex setas q-gutter-sm" :style="{marginRight: margemBotoes ? margemBotoes : '10px'}">
        <q-btn @click="moverDireita" icon="keyboard_arrow_left" outline color="secondary"  round/>
        <q-btn @click="moverEsquerda" icon="keyboard_arrow_right" outline color="secondary"  round/>
      </div>
    </div>

    <VueSlickCarousel v-bind="settings" ref="c1" v-if="cards && cards.length > 0">
      <Card
        v-for="(item, index) in cards"
        :key="index"
        :dados="item"
        :style="{ maxWidth: `${width}!important` }"
      />
    </VueSlickCarousel>

  </div>
</template>

<script src="./CarrosselCards.js"></script>

<style lang="scss">
.carrossel-cards {
  & .setas {
    & .q-btn {
      width: 25px!important;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0!important;
      & .q-icon {
        font-size: 12px;
      }
    }
  }
  & [class *= 'card'] {
    outline: none;
  }
  & .custom-arrow-next,
  & .custom-arrow-prev {
    height: 100%;
    width: 50px !important;
    z-index: 1;
  }
  & .custom-arrow-next {
    right: 0;
  }
  & .custom-arrow-prev {
    left: 0;
  }
  & .custom-arrow-next:before,
  & .custom-arrow-prev:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    color: var(--q-color-primary);
    padding: 0;
    background: transparent;
    font-size: 30px;
  }
  & .slick-list {
    padding: 0 !important;
  }
  & .custom-arrow-next:before {
    height: auto;
  }
  & .custom-arrow-prev:before {
    height: auto;
    left: 20px;
  }
  .q-carousel .q-btn {
    z-index: 1;
  }
  .slick-track {
    padding: 20px 0;
    outline: none;
  }
  /*.custom-arrow-prev{display: none;}*/
  .slick-dots {
    bottom: -10px;
    & li.slick-active button:before {
      color: #f6be00;
    }
    & li button {
      &:before {
        font-size: 10px;
        color: #f6be00;
        opacity: 0.4;
      }
    }
  }
}
@media (max-width: 599px) {
  .carrossel-popup {
    & .custom-arrow-next,
    & .custom-arrow-prev {
      width: 20px !important;
      z-index: 1;
    }
    & .custom-arrow-next:before {
      font-size: 30px;
      right: 10px;
    }
    & .custom-arrow-prev:before {
      font-size: 30px;
      left: 10px;
    }
  }
}
</style>
