<template>
  <div class="filtros">

    <div class="topo">Filtros</div>

    <div class="column">

      <!-- STATUS -->
      <div class="row col-12 q-pr-md">
        <q-btn-toggle
          v-model="status"
          @input="setQueryParams('status', status )"
          spread
          class="q-mb-sm"
          rounded
          no-caps
          toggle-color="secondary"
          color="white"
          text-color="black"
          style="width: 100%;"
          :options="[
            { label: 'Comprar', value: 'Comprar' },
            { label: 'Alugar', value: 'Alugar' }
          ]"
        />
      </div>
      <!-- -->

      <div class="row">

        <!-- Referencia -->
        <div class="col-12 q-pr-md">
          <q-input
            outlined
            dense
            mask="###################"
            bg-color="white"
            class="q-my-xs"
            placeholder="por Referência"
            v-model="referencia"
            @input="setQueryParams('referencia', referencia )"
          >
            <template v-slot:append>
              <CasaIcon />
            </template>
          </q-input>
        </div>
        <!-- -->

        <!-- Bairro -->
        <div class="col-12 q-pr-md">
          <q-select
            outlined
            class="q-my-xs"
            dense
            multiple
            use-chips
            bg-color="white"
            label="Por Bairro"
            v-model="bairro"
            :options="listaBairros"
            @input="setQueryParams('bairro', bairro )"
          />
        </div>
        <!-- -->

      </div>

      <!-- Categoria -->
      <div class="sessao">
        <div class="categoria">Tipo</div>
        <div class="row">
          <div class="col-12 q-mb-md" v-for="(categoria, index) in listaCategorias" :key="index">
            <q-checkbox
              dense
              color="secondary"
              :true-value="1"
              :false-value="0"
              :label="categoria.label"
              v-model="categoria.marcado"
              @input="categoriaSelecionado()"
            />
          </div>
        </div>
      </div>
      <!-- -->

      <!-- Dormitórios / Vagas -->
      <div class="sessao">
        <div class="row">

          <div class="col-6">
            <div class="categoria">Dormitórios</div>
          </div>

          <div class="col-6">
            <div class="categoria">Vagas</div>
          </div>

          <div class="col-12 row q-col-gutter-md">

            <div class="col-6">
              <q-select
                outlined
                dense
                multiple
                bg-color="white"
                v-model="dormitorio"
                :options="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                @input="setQueryParams('dormitorio', dormitorio )"
              />
            </div>

            <div class="col-6">
              <q-select
                outlined
                dense
                multiple
                bg-color="white"
                v-model="vaga"
                :options="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                @input="setQueryParams('vaga', vaga )"
              />
            </div>

          </div>

        </div>
      </div>
      <!-- -->

      <!-- AINDA NAO FIZ -->
      <div class="sessao">
        <div class="row">
          <div class="col-12">
            <div class="categoria">
              Preço
            </div>
          </div>
          <div class="col-12 row q-col-gutter-md">
            <div class="col-6">
              <q-input placeholder="de" outlined dense hint="ex. R$1.000" />
            </div>
            <div class="col-6">
              <q-input placeholder="até" outlined dense hint="ex. R$ 70.000" />
            </div>
          </div>
        </div>
      </div>
      <!-- -->

      <!-- AINDA NAO FIZ -->
      <div class="sessao">
        <div class="row">
          <div class="col-12">
            <div class="categoria">
              Área (m²)
            </div>
          </div>
          <div class="col-12 row q-col-gutter-md">
            <div class="col-6">
              <q-input placeholder="de" outlined dense hint="ex. 30" />
            </div>
            <div class="col-6">
              <q-input placeholder="até" outlined dense hint="ex. 200" />
            </div>
          </div>
        </div>
      </div>
      <!-- -->

      <!-- Limpar Filtro -->
      <div class="sessao" v-if="$route.query && Object.keys($route.query).length > 0">
        <div class="row">
          <div class="col-12 q-pr-md">
            <q-btn
              label="Limpar"
              color="secondary"
              no-caps
              unelevated
              style="width: 100%; height: 50px;"
              @click="limparFiltroQuery()"
            />
          </div>
        </div>
      </div>
      <!-- -->

    </div>
  </div>
</template>

<script src="./Filtros.js"></script>

<style lang="scss">
.filtros {
  width: 100%;
  & .q-btn-group {
    background: #ffffff;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 5px;
    & .q-btn {
      border-radius: 100px;
    }
  }
  & .topo {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    margin: 0;
    margin-bottom: 10px;
  }
  & .sessao {
    padding: 7px 0;
  }
  & .categoria {
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
</style>
