<template>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="flex justify-between items-center">
            <q-img src="../assets/logo.svg" />
            <RedesSociais />
          </div>
        </div>
        <div class="col-12 q-my-lg">
          <hr />
        </div>
        <div class="col-12 row">
          <div class="col-xs-12 col-md-2">
            <div class="column">
              <h6>Links Rápidos</h6>
              <p @click="irRota('busca')">Buscar</p>
              <p @click="irRota('quem_somos')">Sobre</p>
              <p @click="irRota('contato')">Contato</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 items-center">
            <h6>Entre em Contato</h6>
            <div class="row">
              <div class="col-6 row items-center sessao-mobile">
                <div class="col-2">
                  <q-icon class="icone" name="place" />
                </div>
                <div class="col-9">
                  <div class="column">
                    <p class="top">Endereço</p>
                    <p class="sub" @click="openUrl('https://goo.gl/maps/JfwjCUJCByfwf8RV8', true)">Al. Lorena, 638 cj. 41</p>
                  </div>
                </div>
              </div>
              <div class="col-6 row items-center">
                <div class="col-2">
                  <q-icon class="icone" name="phone" />
                </div>
                <div class="col-9">
                  <div class="column">
                    <p class="top">Ligue pra gente</p>
                    <p class="sub" @click="openUrl('tel:+551130610061')">(11) 3061-0061</p>
                  </div>
                </div>
              </div>
              <div class="col-6 row items-center">
                <div class="col-2">
                  <q-icon class="icone" name="fab fa-whatsapp" />
                </div>
                <div class="col-9">
                  <div class="column">
                    <p class="top">Nosso Whatsapp</p>
                    <p class="sub" @click="openUrl('https://api.whatsapp.com/send?phone=5511988335090')">(11) 98833-5090</p>
                  </div>
                </div>
              </div>
              <div class="col-6 row items-center">
                <div class="col-2">
                  <q-icon class="icone" name="fas fa-envelope" />
                </div>
                <div class="col-9">
                  <div class="column">
                    <p class="top">Email</p>
                    <p class="sub" @click="openUrl('mailto:jmfox@jmfox.com.br')">jmfox@jmfox.com.br</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 sessao-mobile">
            <div class="column">
              <div class="micro">
                Assine a newsletter e fique sabendo das <br /> novidades.
              </div>
              <q-input class="input-contato" dense label="Nome Completo" outlined />
              <q-input class="input-contato" dense label="Email" outlined />
              <q-btn class="btn-enviar" label="Enviar" no-caps />
            </div>
          </div>
          <div class="col-12 q-mt-xl q-mb-md">
            <div class="copyright">
              Copyright © Todos os direitos Reservados - CRECI:J-23597. Desenvolvido por <u style="cursor: pointer;" @click="openUrl('http://softseeds.com.br/', true)">SoftSeed`s</u>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Footer.js"></script>

<style lang="scss">
.footer {
  background: #272e3a;
  padding: 50px 0 20px 0;
  & .sessao-mobile {
    margin: 0;
  }
  & hr {
    border: none;
    border-top: 1px solid rgba(#bdbdbd, 0.2);
  }
  & .q-img {
    width: 140px;
    height: auto;
  }
  & h6 {
    color: #ff8321;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  & p {
    color: #bdbdbd;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $secondary;
      transition: all 0.2s ease;
    }
  }
  & .top {
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: #bdbdbd;
  }
  & .sub {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: #bdbdbd;
    cursor: pointer;
  }
  & .icone {
    font-size: 25px;
    color: rgba(#505050, 0.5);
  }
  & .micro {
    font-size: 12px;
    line-height: 12px;
    color: #BDBDBD;
    margin-bottom: 5px;
  }
  & .btn-enviar {
    background: #FF8321;
    color: white;
    font-size: 14px;
    line-height: 19px;
    width: 110px;
  }
  & .input-contato {
    color: white;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #4F4F4F;
    & input {
      color: #828282;
    }
    & .q-field__label {
      color: #828282;
    }
  }
  & .copyright {
    text-align: center;
    color: #828282;
  }
}

@media screen and (max-width: 599px) {
  .footer {
    .sub {
      font-size: 12px;
    }
    & h6 {
      text-align: center;
    }
    & .sessao-mobile {
      margin: 10px 0 20px 0;
    }
    & .micro {
      text-align: center;
    }
    & .btn-enviar {
      width: 100%;
    }
  }
}
</style>
