<template>
  <div class="header">
    <q-img src="../assets/home-banner-sp.png" />
    <div class="conteudo">
      <div class="container">
        <div class="flex justify-between items-center">
          <h1>{{ rotaAtual === 'Quem Somos' ? rotaAtual.replace('Quem Somos', 'Sobre') : rotaAtual }}</h1>
          <p>
            <span @click="irRota('home')">Inicio</span> >

            <template v-for="(item, key) in historicPag">
              <span :key="key" @click="irRota(item.route)">{{item.name}}</span> >
            </template>

            <span class="atual">{{ rotaAtual === 'Quem Somos' ? rotaAtual.replace('Quem Somos', 'Sobre') : rotaAtual }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./Header.js"></script>

<style lang="scss">
.header {
  min-height: 300px;
  height: 300px;
  overflow: hidden;
  margin-top: -150px;
  position: relative;
  & .q-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & .q-img__image {
      background-position: 47% 47%!important;
      filter: contrast(1.2) contrast(1.2);
    }
  }
  & .conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30,40,50,0.8) 0%, rgba(40,49,56,0.85) 80%, rgba(40,49,56,0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    & h1 {
      color: white;
      font-size: 32px;
      line-height: 45px;
      text-align: center;
      font-weight: bold;
    }
    & p {
      font-size: 14px;
      line-height: 45px;
      color: white;
      text-align: center;
      margin: 60px 0 40px 0;
      & span {
        cursor: pointer;
        transition: all 0.2s ease-in;
        &:hover {
          text-decoration: underline;
        }
      }
      & .atual {
        text-decoration: underline;
        cursor: pointer;
        color: #FF8321;
      }
    }
    & .q-btn {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 599px) {
.header {
  & .q-img {
    & .q-img__image {
      background-size: cover!important;
      background-position: 50% 50%!important;
    }
  }
}
}
</style>
