<template>
  <div class="redes-sociais">
    <div class="rede-social" @click="openUrl('https://www.facebook.com/jmfoximoveis/')">
      <q-icon name="fab fa-facebook" />
    </div>
    <div class="rede-social" @click="openUrl('https://www.instagram.com/jmfox_imoveis/')">
      <q-icon name="fab fa-instagram" />
    </div>
    <div class="rede-social" @click="openUrl('https://www.youtube.com/channel/UCdwgWiIIzFwpdvg_s5TbdMA')">
      <q-icon name="fab fa-youtube" />
    </div>
  </div>
</template>

<script src="./RedesSociais.js"></script>

<style lang="scss">
.redes-sociais {
  display: flex;
  & > div {
    color: #ff8321;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #5b616a;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
</style>
