// app global css in SCSS form
.topo {
  position: absolute;
  top: -1000px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.fullscreen {
  z-index: 99999999999999999;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// @font-face {
//   font-family: "Avenir LT Std";
//   src: url("AvenirLTStd-Medium.woff2") format("woff2"),
//     url("AvenirLTStd-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Avenir LT Std";
  src: url("AvenirLTStd-Roman.woff2") format("woff2"),
    url("AvenirLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Avenir LT Std";
//   src: url("AvenirLTStd-Book.woff2") format("woff2"),
//     url("AvenirLTStd-Book.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

* {
  font-family: "Avenir LT Std";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 9999999999;
  &.sumir {
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
  }
}

.q-field__bottom {
  padding: 0 !important;
}

.q-carousel {
  height: 100% !important;
  background: transparent;
  & .q-anchor--skip {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  & .q-carousel__prev-arrow--horizontal {
    left: 20px;
  }
  & .q-carousel__next-arrow--horizontal {
    right: 20px;
  }
  & .q-carousel__navigation--bottom {
    bottom: 0 !important;
  }
}
.q-carousel__slide {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: none !important;
}

.dialogveiculo {
  & .q-dialog__inner {
    padding: 0 80px;
  }
  & .q-dialog__backdrop {
    background: rgba(23, 33, 46, 0.9);
  }
  & .slick-current {
    & .imgthumbnail {
      border: 2px solid var(--q-color-primary);
    }
  }
  & .slick-prev {
    left: 0 !important;
    z-index: 1;
    &:before {
      content: "\f053";
      font-family: "Font Awesome 5 Free" !important;
      font-weight: 900;
      font-size: 30px;
    }
  }
  & .slick-next {
    right: 0 !important;
    &:before {
      content: "\f054";
      font-family: "Font Awesome 5 Free" !important;
      font-weight: 900;
      font-size: 30px;
    }
  }
  & .imgprincipal {
    display: flex !important;
    & .q-img {
      position: relative;
      width: 60%;
      height: 90%;
    }
  }
  &:focus {
    box-shadow: 0 0 0;
    outline: none;
  }
  & .imgthumbnail {
    padding: 5px;
    border-radius: 5px;
    & .q-img {
      height: 50px;
    }
    &:focus {
      box-shadow: 0 0 0;
      outline: none;
    }
  }
}

// .q-carousel {
//   .q-btn {
//     font-size: 5px!important;
//   }
// }
// .q-carousel__navigation-inner {
//   flex: 0 1 auto!important;
// }
// .q-carousel__navigation .q-btn .q-btn__wrapper {
//   padding: 12px 4px
// }
// .q-carousel__navigation .q-btn {
//   margin: -2px!important
// }
.q-carousel__navigation-inner {
  flex-wrap: nowrap;
  position: fixed;
  left: 10px;
  bottom: 0;
  width: calc(100% - 20px);
  overflow: auto;
}

@media screen and (max-width: 599px) {
  .btn-top {
    right: 20px;
    bottom: 20px;
  }
}
