<template>
  <q-icon>
    <svg
      width="27"
      height="27"
      viewBox="0 0 27 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M25.6697 0H0.433352C0.193734 0 0 0.193734 0 0.433352V14.79C0 15.0297 0.193734 15.2234 0.433352 15.2234H7.83093V25.6646C7.83093 25.9043 8.02466 26.098 8.26428 26.098H25.6646C25.9043 26.098 26.098 25.9043 26.098 25.6646V0.433352C26.1031 0.193734 25.9094 0 25.6697 0ZM25.2313 25.2313H8.70273V14.79C8.70273 14.5504 8.50899 14.3567 8.26938 14.3567H0.871802V0.871802H25.2364V25.2313H25.2313Z"
        fill="#D4D4D4"
      />
      <path
        d="M2.1771 13.4849H8.26952C8.50914 13.4849 8.70287 13.2912 8.70287 13.0515V10.4412H9.57467V13.0515C9.57467 13.2912 9.76841 13.4849 10.008 13.4849H15.662V14.3567H10.008C9.76841 14.3567 9.57467 14.5504 9.57467 14.7901V23.9261C9.57467 24.1657 9.76841 24.3595 10.008 24.3595H16.4981C16.5134 24.3646 16.5338 24.3697 16.5491 24.3697L19.1339 24.3595H23.9314C24.171 24.3595 24.3647 24.1657 24.3647 23.9261V14.7901C24.3647 14.5504 24.171 14.3567 23.9314 14.3567H22.1929V13.4849H23.9314C24.171 13.4849 24.3647 13.2912 24.3647 13.0515V2.17696C24.3647 1.93734 24.171 1.74361 23.9314 1.74361H10.008C9.76841 1.74361 9.57467 1.93734 9.57467 2.17696V3.91546H8.70287V2.17696C8.70287 1.93734 8.50914 1.74361 8.26952 1.74361H2.1771C1.93748 1.74361 1.74375 1.93734 1.74375 2.17696V13.0515C1.73865 13.2912 1.93748 13.4849 2.1771 13.4849ZM10.4414 16.967H12.1799V21.7543H10.4414V16.967ZM16.9519 17.8337L21.3007 17.8184L21.316 21.3107L19.1441 21.3209L16.9671 21.3311L16.9519 17.8337ZM19.5877 22.1876L21.3262 22.1825L21.3313 23.4877L19.5928 23.4928L19.5877 22.1876ZM16.9722 22.1978L18.7159 22.1927L18.721 23.4979H16.9824L16.9722 22.1978ZM15.2286 4.34882H16.1004V6.08732H15.2286V4.34882ZM16.9671 4.34882H19.5775V5.65397H16.9671V4.34882ZM20.4493 4.34882H21.3211V6.08732H20.4493V4.34882ZM21.7544 2.61031V3.48211H14.7902V2.61031H21.7544ZM7.83107 2.61031V4.34882C7.83107 4.58843 8.0248 4.78217 8.26442 4.78217H9.7939L13.1435 8.96784C13.2913 9.15647 13.5666 9.18706 13.7552 9.03412C13.9439 8.88627 13.9745 8.61096 13.8215 8.42233L10.4363 4.19077V2.61031H13.9184V3.91546C13.9184 4.15508 14.1121 4.34882 14.3517 4.34882V6.52577C14.3517 6.76539 14.5455 6.95913 14.7851 6.95913H16.5236C16.7632 6.95913 16.957 6.76539 16.957 6.52577H19.5775C19.5775 6.76539 19.7712 6.95913 20.0108 6.95913H21.7493C21.9889 6.95913 22.1827 6.76539 22.1827 6.52577V4.34882C22.4223 4.34882 22.616 4.15508 22.616 3.91546V2.61031H23.4878V12.6182H21.887L17.6503 9.65101C17.4515 9.51845 17.1864 9.56434 17.0487 9.76317C16.9111 9.962 16.957 10.2271 17.1507 10.3648L21.316 13.281V14.7951C21.316 15.0348 21.5097 15.2285 21.7493 15.2285H23.4878V23.4928H22.198L22.1878 21.7492C22.1878 21.7441 22.1878 21.7441 22.1878 21.739C22.1878 21.7339 22.1878 21.7339 22.1878 21.7288L22.1674 17.3749C22.1674 17.1352 21.9736 16.9415 21.734 16.9415L16.5134 16.9619C16.3961 16.9619 16.2891 17.0078 16.2075 17.0894C16.1259 17.1709 16.0801 17.2831 16.0801 17.4004L16.1106 23.4877H10.4414V22.6159H12.6183C12.858 22.6159 13.0517 22.4221 13.0517 22.1825V16.5337C13.0517 16.294 12.858 16.1003 12.6183 16.1003H10.4414V15.2285H16.0953C16.335 15.2285 16.5287 15.0348 16.5287 14.7951V13.0515C16.5287 12.8119 16.335 12.6182 16.0953 12.6182H10.4414V10.0079C10.4414 9.76827 10.2476 9.57453 10.008 9.57453H8.26952C8.0299 9.57453 7.83617 9.76827 7.83617 10.0079V12.6182H2.61045V11.7464H4.78741C5.02703 11.7464 5.22076 11.5527 5.22076 11.313V3.91546C5.22076 3.67585 5.02703 3.48211 4.78741 3.48211H2.61045V2.61031H7.83107ZM2.61045 4.34882H4.34896V10.8746H2.61045V4.34882Z"
        fill="#D4D4D4"
      />
    </svg>
  </q-icon>
</template>
