<template>
  <svg
    width="31"
    height="27"
    viewBox="0 0 31 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.6513 15.0769H29.1487V13.5692C29.1487 12.5704 28.5582 11.6658 27.641 11.27V3.51795C27.641 3.31692 27.5217 3.13474 27.3395 3.05936C27.5342 2.74525 27.641 2.3809 27.641 2.01026C27.641 0.898333 26.7427 0 25.6308 0C24.5188 0 23.6205 0.898333 23.6205 2.01026C23.6205 2.36205 23.721 2.71384 23.8969 3.01538H6.25692C6.4391 2.71384 6.53333 2.36205 6.53333 2.01026C6.53333 0.898333 5.635 0 4.52307 0C3.41115 0 2.51282 0.898333 2.51282 2.01026C2.51282 2.3809 2.61961 2.74525 2.81436 3.05936C2.63218 3.13474 2.51282 3.31692 2.51282 3.51795V11.27C1.59564 11.672 1.00513 12.5704 1.00513 13.5692V15.0769H0.502564C0.226154 15.0769 0 15.3031 0 15.5795V22.6154C0 22.8918 0.226154 23.1179 0.502564 23.1179H1.00513V25.6308C1.00513 25.9072 1.23128 26.1333 1.50769 26.1333H3.51795C3.79436 26.1333 4.02051 25.9072 4.02051 25.6308V23.1179H26.1333V25.6308C26.1333 25.9072 26.3595 26.1333 26.6359 26.1333H28.6461C28.9225 26.1333 29.1487 25.9072 29.1487 25.6308V23.1179H29.6513C29.9277 23.1179 30.1538 22.8918 30.1538 22.6154V15.5795C30.1538 15.3031 29.9277 15.0769 29.6513 15.0769ZM25.6308 1.00513C26.1836 1.00513 26.6359 1.45744 26.6359 2.01026C26.6359 2.56308 26.1836 3.01538 25.6308 3.01538C25.0779 3.01538 24.6256 2.56308 24.6256 2.01026C24.6256 1.45744 25.0779 1.00513 25.6308 1.00513ZM4.52307 1.00513C5.07589 1.00513 5.5282 1.45744 5.5282 2.01026C5.5282 2.56308 5.07589 3.01538 4.52307 3.01538C3.97025 3.01538 3.51795 2.56308 3.51795 2.01026C3.51795 1.45744 3.97025 1.00513 4.52307 1.00513ZM3.51795 4.02051H26.6359V11.0564H24.6131C24.946 10.6229 25.1282 10.0953 25.1282 9.54871V8.54358C25.1282 7.15525 24.0037 6.03077 22.6154 6.03077H18.5949C17.2065 6.03077 16.082 7.15525 16.082 8.54358V9.54871C16.082 10.0953 16.2642 10.6229 16.5972 11.0564H13.5567C13.8896 10.6229 14.0718 10.0953 14.0718 9.54871V8.54358C14.0718 7.15525 12.9473 6.03077 11.559 6.03077H7.53846C6.15012 6.03077 5.02564 7.15525 5.02564 8.54358V9.54871C5.02564 10.0953 5.20782 10.6229 5.54077 11.0564H3.51795V4.02051ZM24.1231 8.54358V9.54871C24.1231 10.3842 23.4509 11.0564 22.6154 11.0564H18.5949C17.7593 11.0564 17.0872 10.3842 17.0872 9.54871V8.54358C17.0872 7.70807 17.7593 7.03589 18.5949 7.03589H22.6154C23.4509 7.03589 24.1231 7.70807 24.1231 8.54358ZM13.0667 8.54358V9.54871C13.0667 10.3842 12.3945 11.0564 11.559 11.0564H7.53846C6.70294 11.0564 6.03077 10.3842 6.03077 9.54871V8.54358C6.03077 7.70807 6.70294 7.03589 7.53846 7.03589H11.559C12.3945 7.03589 13.0667 7.70807 13.0667 8.54358ZM2.01026 13.5692C2.01026 12.7337 2.68243 12.0615 3.51795 12.0615H26.6359C27.4714 12.0615 28.1436 12.7337 28.1436 13.5692V15.0769H2.01026V13.5692ZM3.01538 25.1282H2.01026V23.1179H3.01538V25.1282ZM28.1436 25.1282H27.1384V23.1179H28.1436V25.1282ZM29.1487 22.1128H1.00513V16.082H29.1487V22.1128Z"
      fill="#D4D4D4"
    />
  </svg>
</template>
