<template>
  <q-icon class="q-px-md cursor-pointer">
    <svg
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28 11.8512V22.6061C28 23.2076 27.5078 23.6997 26.9062 23.6997C26.3047 23.6997 25.8125 23.2076 25.8125 22.6061V12.3597L14 2.51787L2.1875 12.3597V25.8102H13.9781C14.5797 25.8102 15.0719 26.3023 15.0719 26.9037C15.0719 27.5052 14.5797 27.9973 13.9781 27.9973H1.09375C0.492188 27.9973 0 27.5052 0 26.9037V11.8512C0 11.5286 0.142187 11.2169 0.39375 11.0092L13.3 0.254247C13.7047 -0.0847491 14.2953 -0.0847491 14.7 0.254247L27.6062 11.0092C27.8578 11.2169 28 11.5231 28 11.8512ZM23.3734 26.1328C23.8 26.5593 23.8 27.2537 23.3734 27.6801C22.9469 28.1066 22.2523 28.1066 21.8258 27.6801L17.0516 22.9069C12.8133 25.2033 7.50859 22.1523 7.50859 17.215C7.50859 13.6501 10.4125 10.7467 13.9781 10.7467C19.6 10.7467 22.5039 17.4228 18.7797 21.5454L23.3734 26.1328ZM13.9781 21.4907C16.3406 21.4907 18.2602 19.5716 18.2602 17.2095C18.2602 14.8475 16.3406 12.9283 13.9781 12.9283C11.6156 12.9283 9.69609 14.8475 9.69609 17.2095C9.69609 19.5716 11.6156 21.4907 13.9781 21.4907Z"
        fill="#BDBDBD"
      />
    </svg>
  </q-icon>
</template>
