<template>
  <q-icon>
    <svg
      width="13"
      height="15"
      viewBox="0 0 13 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.7545 1.90137C9.56588 0.673828 7.98199 0 6.30142 0C4.61801 0 3.03412 0.673828 1.8455 1.90137C0.656872 3.12891 0 4.75781 0 6.48926C0 8.22363 0.654028 9.85254 1.8455 11.0801L5.19242 14.5283C5.48815 14.833 5.88057 15 6.30142 15C6.71943 15 7.11469 14.833 7.40758 14.5283L10.7545 11.0801C11.9431 9.85547 12.6 8.22363 12.6 6.48926C12.6 4.75781 11.946 3.12598 10.7545 1.90137ZM10.1517 10.459L6.80474 13.9072C6.67109 14.0449 6.49194 14.1211 6.30142 14.1211C6.1109 14.1211 5.93175 14.0449 5.7981 13.9072L2.44834 10.459C1.41896 9.39844 0.853081 7.98926 0.853081 6.48926C0.853081 4.98926 1.41896 3.58008 2.44834 2.52246C3.47773 1.46191 4.8455 0.878906 6.30142 0.878906C7.75735 0.878906 9.12512 1.46191 10.1517 2.52246C12.2758 4.71094 12.2758 8.27051 10.1517 10.459Z"
        fill="#ABABAB"
      />
      <path
        d="M6.30127 4.33572C4.94027 4.33572 3.83154 5.42041 3.83154 6.75189C3.83154 8.08338 4.94027 9.16807 6.30127 9.16807C7.66227 9.16807 8.77101 8.08338 8.77101 6.75189C8.76789 5.41736 7.66227 4.33572 6.30127 4.33572ZM6.30127 8.25096C5.45415 8.25096 4.76587 7.5776 4.76587 6.74885C4.76587 5.92009 5.45415 5.24673 6.30127 5.24673C7.1484 5.24673 7.83668 5.92009 7.83668 6.74885C7.83357 7.5776 7.14528 8.25096 6.30127 8.25096Z"
        fill="#ABABAB"
      />
    </svg>
  </q-icon>
</template>>
