<template>
  <q-icon>
    <svg
      width="24"
      height="20"
      viewBox="0 0 24 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M23.0821 7.61542L22.559 7.06158L20.7231 2.11286C20.4103 1.27696 19.6103 0.723115 18.7179 0.717987H5.60513C4.71282 0.717987 3.91282 1.27696 3.6 2.11286L1.78974 7.00004L1.0359 7.69747C0.379487 8.25645 0 9.07696 0 9.9385V17.1488C0.00512821 18.3282 0.964103 19.2821 2.14359 19.2821H3.49744C4.67692 19.2821 5.6359 18.3282 5.64103 17.1488V16.1026H18.359V17.1488C18.3641 18.3282 19.3231 19.2821 20.5026 19.2821H21.8564C23.0359 19.2821 23.9949 18.3282 24 17.1488V9.74876C23.9949 8.94363 23.6667 8.1744 23.0821 7.61542ZM4.5641 2.46158C4.72821 2.02568 5.14359 1.74363 5.60513 1.74363H18.7231C19.1846 1.74363 19.6 2.03081 19.7641 2.46158L21.3641 6.76927H20.1692C19.8872 4.84619 18.0974 3.51799 16.1744 3.80517C14.641 4.03081 13.4359 5.23594 13.2103 6.76927H2.9641L4.5641 2.46158ZM19.1231 6.76927H14.2462C14.5282 5.42055 15.8513 4.55901 17.2 4.84106C18.1641 5.04619 18.9179 5.80004 19.1231 6.76927ZM4.61538 17.1488C4.61026 17.7641 4.11282 18.2564 3.49744 18.2564H2.14359C1.52821 18.2564 1.03077 17.7641 1.02564 17.1488V15.8052C1.33333 16.0052 1.73846 16.1026 2.14359 16.1026H4.61538V17.1488ZM22.9744 17.1488C22.9692 17.7641 22.4718 18.2564 21.8564 18.2564H20.5026C19.8872 18.2564 19.3897 17.759 19.3846 17.1488V16.1026H21.8564C22.2615 16.1026 22.6667 16.0052 22.9744 15.8052V17.1488ZM21.8564 15.077H2.14359C1.53333 15.0821 1.03077 14.5949 1.02564 13.9795V9.9385C1.02564 9.3744 1.27692 8.83594 1.70769 8.47183C1.71282 8.4667 1.72308 8.45645 1.72821 8.45132L2.42564 7.79491H21.8462L22.3385 8.32312C22.3436 8.33337 22.359 8.3385 22.3641 8.34876C22.7487 8.71286 22.9692 9.22055 22.9692 9.74876V13.9795H22.9744C22.9692 14.5898 22.4667 15.0821 21.8564 15.077Z"
        fill="#D5D5D5"
      />
      <path
        d="M6.76913 9.84619H2.92298C2.64093 9.84619 2.41016 10.077 2.41016 10.359V13.0257C2.41016 13.3077 2.64093 13.5385 2.92298 13.5385H6.76913C7.05118 13.5385 7.28195 13.3077 7.28195 13.0257V10.359C7.28195 10.077 7.05118 9.84619 6.76913 9.84619ZM6.25631 12.5129H3.4358V10.8718H6.25631V12.5129Z"
        fill="#D5D5D5"
      />
      <path
        d="M21.0767 9.84619H17.2306C16.9485 9.84619 16.7178 10.077 16.7178 10.359V13.0257C16.7178 13.3077 16.9485 13.5385 17.2306 13.5385H21.0767C21.3588 13.5385 21.5896 13.3077 21.5896 13.0257V10.359C21.5896 10.077 21.3588 9.84619 21.0767 9.84619ZM20.5639 12.5129H17.7434V10.8718H20.5639V12.5129Z"
        fill="#D5D5D5"
      />
      <path
        d="M14.4769 12H9.52307C9.24102 12 9.01025 12.2308 9.01025 12.5129C9.01025 12.7949 9.24102 13.0257 9.52307 13.0257H14.4769C14.759 13.0257 14.9897 12.7949 14.9897 12.5129C14.9897 12.2308 14.759 12 14.4769 12Z"
        fill="#D5D5D5"
      />
      <path
        d="M14.4769 10.4103H9.52307C9.24102 10.4103 9.01025 10.6411 9.01025 10.9231C9.01025 11.2052 9.24102 11.4359 9.52307 11.4359H14.4769C14.759 11.4359 14.9897 11.2052 14.9897 10.9231C14.9897 10.6411 14.759 10.4103 14.4769 10.4103Z"
        fill="#D5D5D5"
      />
    </svg>
  </q-icon>
</template>
