<template>
  <q-layout view="hHh lpR fFf">
    <div class="topo" ref="topo"></div>
    <QScrollObserver @scroll="onScroll"  />
    <q-header :class="classeNavbar">
      <div class="container">
        <q-toolbar class="flex items-center">
          <q-toolbar-title class="cursor-pointer" @click="irRota('home')">
            <q-img src="../assets/logo.svg" />
          </q-toolbar-title>
          <div v-if="$q.screen.gt.sm" class="flex items-center">
            <div
              :class="
                $router.currentRoute.name === 'home'
                  ? 'item-navbar ativo'
                  : 'item-navbar'
              "
              @click="irRota('home')"
            >
              Início
            </div>
            <div
              :class="
                $router.currentRoute.name === 'quem_somos'
                  ? 'item-navbar ativo'
                  : 'item-navbar'
              "
              class="item-navbar"
              @click="irRota('quem_somos')"
            >
              Quem Somos
            </div>
            <div
              :class="
                $router.currentRoute.name === 'contato'
                  ? 'item-navbar ativo'
                  : 'item-navbar'
              "
              @click="irRota('contato')"
              class="item-navbar"
            >
              Contato
            </div>
            <q-btn
              :to="{ name: 'busca' }"
              class="buscar-btn"
              no-caps
              label="Buscar"
              unelevated
            />
            <RedesSociais />
          </div>
          <div v-else>
            <q-icon
              @click="menu = !menu"
              class="hamburger cursor-pointer"
              color="white"
              name="menu"
            ></q-icon>
          </div>
        </q-toolbar>
      </div>
    </q-header>

    <q-drawer
      v-model="menu"
      :width="300"
      :breakpoint="500"
      overlay
      bordered
      content-class="bg-white"
      side="right"
    >
      <div class="flex q-px-md q-my-sm justify-between items-center">
        <div class="text-h6 text-secondary">Menu</div>
        <q-btn
          @click="menu = false"
          icon="close"
          flat
          round
          color="secondary"
        />
      </div>
      <div class="q-px-sm q-my-sm" style="width: 100%">
        <hr />
      </div>
      <div
        class="column"
        style="max-height: 100%; height: 100%; box-sizing: border-box;"
      >
        <div
          :class="
            $router.currentRoute.name === 'home'
              ? 'item-navbar ativo'
              : 'item-navbar'
          "
          @click="irRota('home')"
        >
          Início
        </div>
        <div
          :class="
            $router.currentRoute.name === 'quem_somos'
              ? 'item-navbar ativo'
              : 'item-navbar'
          "
          class="item-navbar"
          @click="irRota('quem_somos')"
        >
          Quem Somos
        </div>
        <div
          :class="
            $router.currentRoute.name === 'contato'
              ? 'item-navbar ativo'
              : 'item-navbar'
          "
          @click="irRota('contato')"
          class="item-navbar"
        >
          Contato
        </div>
        <div class="q-px-md">
          <q-btn
            :to="{ name: 'busca' }"
            class="buscar-btn"
            no-caps
            label="Buscar"
            unelevated
            color="secondary"
            style="width: 100%;"
          />
        </div>
        <RedesSociais style="margin-top: auto; margin-bottom: 80px;" />
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-btn ref="btnTopo" @click="irTopo" :class="solida ? 'btn-top' : 'btn-top sumir'" size="md" round icon="keyboard_arrow_up" color="secondary" />
    <Footer />
  </q-layout>
</template>

<script src="./MainLayout.js"></script>

<style lang="scss">
.q-header {
  padding: 40px 0;
  z-index: 5900;
  &.solida {
    background: $primary!important;
    transition: all 0.3s ease-in;
    padding: 20px 0;
    & .item-navbar {
      font-size: 18px;
      line-height: 25px;
      color: white;
      margin: 0 35px;
      cursor: pointer;
      position: relative;
      &.ativo {
        color: $secondary;
        &:before {
          content: "";
          position: absolute;
          top: -50px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $secondary;
        }
      }
    }
  }
  &.transparente {
    background: transparent!important;
    transition: all 0.3s ease-out;
    & .item-navbar {
      font-size: 18px;
      line-height: 25px;
      color: white;
      margin: 0 35px;
      cursor: pointer;
      position: relative;
      &.ativo {
        color: $secondary;
        &:before {
          content: "";
          position: absolute;
          top: -52px;
          left: -25%;
          width: 160%;
          height: 4px;
          background: $secondary;
        }
      }
    }
  }
  // background: transparent !important;
  & .q-img {
    width: 142px;
    height: auto;
  }
  & .item-navbar {
    font-size: 18px;
    line-height: 25px;
    color: white;
    margin: 0 35px;
    cursor: pointer;
    position: relative;
    &.ativo {
      color: $secondary;
      &:before {
        content: "";
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $secondary;
      }
    }
  }
  & .buscar-btn {
    background: #ff8321;
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 0 35px;
  }
  & .hamburger {
    font-size: 50px;
  }
}
.q-drawer {
  z-index: 5900;
  & hr {
    border: none;
    border-top: 1px solid rgba(196, 196, 196, 0.4);
  }
  & .item-navbar {
    font-size: 18px;
    line-height: 25px;
    color: #333;
    margin: 20px 16px;
    cursor: pointer;
  }
}
@media screen and (max-width: 767px) {
  .q-drawer {
    & .item-navbar {
      &:before {
        content: none;
      }
    }
  }
}
</style>
